.box-element{

    width: 300px; 
    height: 300px; 
    text-align: center; 
    font-size: 25px; 
    border-radius: 10px;
    border-style: solid; 
    margin:25px; 
    transform: translate(100px,100px); 
    transform: translateX(100px); 
    transform: translateY(100px);
    transform:rotate(30deg);
    transform:rotate(-30deg);
    transform:scale(1);
    transform:scaleX(1);
    transform:scaleY(1);
    
}